<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z1 md-locked-open"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whitefraxxxme-z1">
        <!--<h1>Users</h1>-->app-title
    </md-toolbar>

    <md-list>
        sidebar-menu
        <!--<md-list-item ng-repeat="it in ul.users">-->
            <!--<md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">-->
                <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
                <!--{{it.name}}-->
            <!--</md-button>-->
        <!--</md-list-item>-->
    </md-list>

</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whixxxteframe-z2">

    <md-toolbar layout="row" class="md-whitxxxeframe-z1">
        section-title
        <!--<md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">-->
            <!--<md-icon md-svg-icon="menu" ></md-icon>-->
        <!--</md-button>-->
        <!--<h1>Angular Material - Starter App</h1>-->
    </md-toolbar>

    <md-content flex id="content">
        section-content
        <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
        <!--<h2>{{ul.selected.name}}</h2>-->
        <!--<p>{{ul.selected.content}}</p>-->

        <!--<md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">-->
            <!--<md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>-->
            <!--<md-icon md-svg-icon="share"></md-icon>-->
        <!--</md-button>-->

        <md-button class="md-primary">Click me</md-button>
        <md-button class="md-accent">or maybe me</md-button>
        <md-button class="md-warn">Careful</md-button>
        <md-button class="md-primary">Click me</md-button>
        <md-button class="md-primary md-hue-1">Click me</md-button>
        <md-button class="md-primary md-hue-2">Click me</md-button>
    </md-content>

</div>